.navbar-custom{
	background-color:#f48221;
	color:#fff;
}

.sidebar-custom{
	background-color:#004070 !important;
}

li>a{
color:#fff !important;
}

li>a:hover{
color:orange !important;
}

.div-tuffy img{
position: absolute;
right:0;
bottom:0;
object-fit: contain;
height:20%;
width:20%;
}
